<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>

  <div id="content">
    <h1>Hey, I'm Ashish Singh</h1>
    <p>I am trying to learn Ruby on Rails</p>
    <p>I am making some small web apps </p>

      </div>
</div>